.DS_Store
nivel-01/backend/node_modules
nivel-01/frontend/node_modules
nivel-01/mobile/node_modules
nivel-01/typescript/node_modules
nivel-02/projeto-node/node_modules
nivel-02/iniciando-back-end/node_modules

